﻿<html lang="en">
<!--<![endif]-->
<head>
    <!-- Title -->
    <title>Antarctica Park</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/custom.css" rel="stylesheet">
    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
</head>
<body>
    <!-- Phone/Email -->
    <div id="pre-header" class="background-gray-lighter">
        <div class="container no-padding">
            <div class="row hidden-xs">
                <div class="col-sm-6 padding-vert-5">
                    <strong>Phone:</strong>&nbsp;0(507) 838 47 67
                </div>
                <div class="col-sm-6 text-right padding-vert-5">
                    <strong>Email:</strong>&nbsp;mehmet@firstgate.com.tr
                </div>
            </div>
        </div>
    </div>
    <!-- End Phone/Email -->
    <!-- Header -->
    <div id="header">
        <div class="container">
            <div class="row">
                <!-- Logo -->
                <div class="logo">
                    <a href="index.html" title="">
                        <img src="assets/img/logo.png" alt="Logo" />
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Top Menu -->
    <div id="hornav" class="bottom-border-shadow">
        <div class="container no-padding border-bottom">
            <div class="row">
                <div class="col-md-8 no-padding">
                    <div class="visible-lg">
                        <ul id="hornavmenu" class="nav navbar-nav">
                            <li>
                                <a href="index.html" class="fa-home active">ANASAYFA</a>
                            </li>
                            <li>
                                <span class="fa-gears ">HiZMETLER</span>
                                <ul>
                                    <li class="parent">
                                        
                                    </li>
                                                                      
                                </ul>
                            </li>
                            
                            <li>
                                <span class="fa-th ">GALERİ</span>
                                <ul>
                                   
                                </ul>
                            </li>
                            <li>
                                <span class="fa-font ">HAKKIMIZDA</span>
                                <ul>
                                   
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html" class="fa-comment ">İLETİŞİM</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 no-padding">
                    <ul class="social-icons pull-right">
                        
                        <li class="social-twitter">
                            <a href="#" target="_blank" title="Twitter"></a>
                        </li>
                        <li class="social-facebook">
                            <a href="#" target="_blank" title="Facebook"></a>
                        </li>
                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h1>@RenderBody()</h1>
    <!-- End Top Menu -->
    <!-- === END HEADER === -->
    <!-- === BEGIN FOOTER === -->
    <div id="base">
        <div class="container bottom-border padding-vert-30">
            <div class="row">
                <!-- Disclaimer -->
                <div class="col-md-6">
                    <h3 class="class margin-bottom-10">Antarctica Park</h3>
                    <p>Gerçek boyutlarındaki tamamen orijinal olan Kutup Canlılarımız, Dekorlarımız, Kostümlerimiz ve Atölyelerimiz ile çocuklarımızı kutupların bembeyaz Dünya’sında bir yolculuğa çıkartıyoruz.</p>
                    <p>
                        Küresel Isınma Nedir ? Nedenleri ve Sonuçları konusunda minik dostlarımızı hem eğlendirip hem de bilinçlendiren, hafızalarından silinmeyecek bir deneyim yaşatacak olan interaktif bir etkinlik programıdır.
                    </p>
                </div>
                <!-- End Disclaimer -->
                <!-- Contact Details -->
                <div class="col-md-6 margin-bottom-20">
                    <h3 class="margin-bottom-10">İletişim Detayları</h3>
                    <p>
                        <span class="fa-phone">Tel:</span>+90 264 281 45 55
                        <br>
                        <span class="fa-envelope">Email:</span>
                        <a href="mailto:mehmet@firstgate.com.tr">mehmet@firstgate.com.tr</a>
                        <br>
                        <span class="fa-link">Website:</span>
                        <a href="http://firstgate.com.tr/">www.firstgate.com.tr</a>
                    </p>
                    <p>
                        Yazlık Cad. No: 106 Firstgate Binası 
                        <br>54100 Adapazarı Sakarya,
                      
                    </p>
                </div>
                <!-- End Contact Details -->
                <!-- Sample Menu -->
                
                <!-- End Sample Menu -->
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div id="footer" class="background-grey">
        <div class="container">
            <div class="row">
                <!-- Footer Menu -->
                <div id="footermenu" class="col-md-8">
                    <ul class="list-unstyled list-inline">
                        <li>
                            <a href="#" target="_blank">Anasayfa</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Hizmetler</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Galeri</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">Hakkımızda</a>
                        </li>
                        <li>
                            <a href="#" target="_blank">İletişim</a>
                        </li>
                    </ul>
                </div>
                <!-- End Footer Menu -->
                <!-- Copyright -->
                <div id="copyright" class="col-md-4">
                    <p class="pull-right">(c) 2017 Firstgate</p>
                </div>
                <!-- End Copyright -->
            </div>
        </div>
    </div>
    <!-- End Footer -->
    <!-- JS -->
    <script type="text/javascript" src="assets/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="assets/js/jquery.isotope.js" type="text/javascript"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="assets/js/jquery.slicknav.js" type="text/javascript"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="assets/js/jquery.visible.js" charset="utf-8"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" src="assets/js/jquery.sticky.js" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" src="assets/js/slimbox2.js" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="assets/js/modernizr.custom.js" type="text/javascript"></script>
    <!-- End JS -->
</body>
